/* CREDIT GIVEN: nick helped me tell better jokes, matt helped me remember to relax, rennae let me make cat noises, melfie had my back, i still don't know how to spell jochens name */


/* for mobile */
@media only screen and (max-width: 767px){
  body {
    max-width: 480px;
  }
 #content-box{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 480px;
  height: 500px;
 }
  .mobile-half{
    width: 240px;
    height: 250px;
    
  }

  .mobile-fullwidth {
    width: 480px;
  }

  #a{
    width: 480px;
    height: 150px;
  }
  #b{
    width: 480px;
    height: 200px;
  }
  #c{
    height: 175px;
  }
  #d{
    height: 125px;
  }
  #i{
    height: 80px;
  }
}

/* for tablet 768 1024 */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    max-width: 768px;
  }
  #content-box{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 760px;
  height: 760px;
  }
  .mobile-half{
    width: 380px;
    height: 380px;
    
  }

  .mobile-fullwidth {
    width: 760px;
  }

  #a{
    width: 760px;
    height: 75px;
  }
  #b{
    width: 760px;
    height: 150px;
  }
  #c{
    height: 125px;
  }
  #d{
    height: 125px;
  }
  #i{
    height: 80px;
  }
}

/* for desktop  */
@media only screen and (min-width: 1024px) {
  body {
    background-color: lightblue;
  }
  main {
    width: 760px;
  }

  div {
    /* display: block; */
  }

  /* width and height section */
  #a {
    width: 960px;
    height: 100px; 
  }
  #b {
    width: 200px;
    height: 600px; 
  }
  .desktop-header{
    width: 380px;
    height: 200px; 
  }
  .desktop-content{
    width: 190px;
    height: 250px; 
  }

  footer{
    width: 760px;
    height: 150px;
  }
  #i {
    height: 100%;
    width: 100%;
  }

  /* orientations for aside only */
  .left {
    float: left;
  }
  .right {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

}
/* end desktop */
